.cardWrapper {
    position: relative;
    width: var(--card-width);
    height: var(--card-width);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }

    &.input-disabled {
        pointer-events: none;
        user-select: none;
    }
}

.card {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 85%;
    border-radius: 1rem;
    border: 3px solid #484848;
    border-style: dashed;
    background-color: rgb(131 131 131);

    transition: transform 0.5s ease, filter 0.2s ease;
    perspective: 150rem;
    transform-style: preserve-3d;
    transform: rotateY(0deg);

    &.flipped {
        transform: rotateY(180deg);
    }

    &.tinted {
       filter: brightness(0.7);
    }
}

.icon {
    position: absolute;
    max-width: 80%;
    max-height: 80%;
    -webkit-user-drag: none;
    user-select: none;

    &.default {
        backface-visibility: hidden;
    }

    &.opened {
        transform: rotateY(180deg);
        backface-visibility: hidden;
    }
}
