:host {
  position: relative;
  width: var(--card-width);
  height: var(--card-width);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
  cursor: pointer;
}

:host:hover {
  transform: scale(1.1);
}

:host.input-disabled {
  pointer-events: none;
  user-select: none;
}

.card {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 85%;
  border-radius: 1rem;
  border: 3px dashed #484848;
  background-color: rgb(131 131 131);

  transition: transform 0.5s ease;
  perspective: 150rem;
  transform-style: preserve-3d;
  transform: rotateY(360deg);
  opacity: 1;
}

.card.flipped {
  transform: rotateY(180.1deg);
}

.card.tinted {
  opacity: 0.5;
}

.cardOverlay {
  position: absolute;
  background-color: black;
  border-radius: 1rem;
  width: 85%;
  height: 85%;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.cardOverlay.showed {
  opacity: 0.3;
}

.icon {
  position: absolute;
  max-width: 80%;
  max-height: 80%;
  -webkit-user-drag: none;
  user-select: none;
  transform-style: preserve-3d;
}

.icon.default {
  backface-visibility: hidden;
}

.icon.opened {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
