#board {
  display: flex;
  flex-wrap: wrap;

  --card-width: 80px;
  --colums-count: 3;
  margin-left: auto;
  margin-right: auto;

  width: calc(var(--card-width) * var(--colums-count));
}

.card {
  position: relative;
  width: var(--card-width);
  height: calc(var(--card-width) * 1.2);
  transform-style: preserve-3d;
  transform: transform 1s;
}
.side {
  position: absolute;
  backface-visibility: hidden;
  user-select: none;
}
.front {
  transform: rotateY(0deg);
}
.back {
  transform: rotateY(180deg);
}

.main img,
.background img {
  width: var(--card-width);
  height: calc(var(--card-width) * 1.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
