.levels {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.levelsGrid {
    display: flex;
    flex-wrap: wrap;

    --card-width: 10rem;
    --card-margin: 0.5rem;
    --colums-count: 3;

    width: calc(
        var(--card-width) * var(--colums-count) + var(--card-margin) *
            (var(--colums-count) + 1) * 2 + 6px + 1.2rem
    );

    border-radius: 1rem;
    padding: 0.6rem;
}
